[Unit]
Description=Run Hyprland Laptop Controller every 5 seconds

[Timer]
OnBootSec=5s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=hyprland-laptop-controller.service

[Install]
WantedBy=default.target

