[Unit]
Description=Run Hyprland "keep cool retro term alive" every 5 seconds

[Timer]
OnBootSec=7s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=hyprland-keep-cool-retro-term-alive.service

[Install]
WantedBy=default.target

