[Unit]
Description=Run Hyprland "keep kitty quake alive" every 5 seconds

[Timer]
OnBootSec=7s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=hyprland-keep-kitty-quake-alive.service

[Install]
WantedBy=default.target

