[Unit]
Description=Timer for lid-robot

[Timer]
OnBootSec=5s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=lid-robot.service

[Install]
WantedBy=default.target

